@use "../../styles/_builders" as *;

.canvas {
  position: relative;
  display: block;
  width: 100%;
  height: var(--hero-h);
  overflow: hidden;
  pointer-events: none;
  margin-bottom: var(--space-2xl);
}
