---
import styles from "./Hero.module.scss";
import HeroGlyphDither from "./HeroGlyphDither.astro";
---

<section class={styles.hero} data-hero-section>
  <HeroGlyphDither />
  <h1 class={styles.headline}>Maxed out in detail minimum in form</h1>
</section>
