@use "../../styles/_builders" as *;

.canvas {
  position: relative;
  width: 100%;
  height: var(--hero-h);
  overflow: hidden;

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
  }
}
