---
import Base from "@/layouts/Base.astro";
import GlyphDither from "@/components/visuals/GlyphDither/GlyphDither.astro";
---

<Base>
  <main class="home-main">

  </main>
</Base>

<style>
  .home-main {
    display: block;
    padding-top: 0;
  }
  .dither-frame {
    width: 100vw;
    height: 100svh;
    margin-inline: calc(50% - 50vw);
  }
</style>
