---
import Base from "@/layouts/Base.astro";
import SceneBackground from "@/components/visuals/SceneBackground/SceneBackground.astro";
---

<Base>
  <SceneBackground />
  <main class="home-main">
  </main>
</Base>

<style>
  .home-main {
    display: block;
    padding-top: 0;
  }
</style>
