---
import Base from "../layouts/Base.astro";
import ProjectGrid from "@/components/project/ProjectGrid";
import HeroScramble from "@/components/fx/HeroScramble";
---

<Base title="Astro">
  <main>
    <HeroScramble />
    <ProjectGrid />
  </main>
</Base>
