//
//////////////////////////////////////////
//  Variables
//////////////////////////////////////////
//
// - Spaces
// - Colors
// - Layers
// - Sizes

//
// --------------------------------------
//  Spaces
// --------------------------------------
//

$spaces: (
  's0': 4px,
  's1': 8px,
  's2': 16px,
  's3': 24px,
  's4': 32px,
  's5': 40px,
  's6': 48px,
  's7': 56px,
  's8': 64px
);

//
// --------------------------------------
//  Colors
// --------------------------------------
//

$colors: (
  'background': #080808,
  'background-opacity': rgba(8, 8, 8, 0.4),
  'primary': #f7f7f7,
  'white': #fff,
  'black': #000,
  'grey': #979797,
  'accent': #ffab6c,
  'white-opacity': rgba(255, 255, 255, 0.1)
);

//
// --------------------------------------
//  Layers
// --------------------------------------
//

$layers: (
  'cursor': 1000,
  'navbar': 100,
  'overlay': 90,
  'base': 0
);

//
// --------------------------------------
//  Sizes
// --------------------------------------
//

$navBar-height: 72px;

//
// --------------------------------------
//  Radii
// --------------------------------------
//

$radii: (
  'sm': 4px,
  'md': 8px,
  'lg': 16px,
  'full': 999px
);
