.Footer {
  display: flex;
  justify-content: space-between; /* layout_UN9NY6 */
  align-items: baseline;
  gap: use-space('s4');
  padding: 120px 0 use-space('s2');
  width: 100%;
}

.Footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  color: use-color('primary');
}

.Footer_brand,
.Footer_copy {
  @include mono-typo(); /* style_494A4Z in Figma */
}

.Footer_copy {
  color: use-color('grey');
}
